<mat-card class="todo-container">
  <mat-card-content>
    <mat-checkbox
      (change)="toggleInput(todo)"
      color="primary"
      [checked]="todo.complete"></mat-checkbox>

    <div *ngIf="!showEditableInput; else showEdit" class="todo">
      <p [class.strike-through]="todo.complete">{{ todo.description }}</p>
      <button
        mat-raised-button
        color="accent"
        (click)="toggleShowEditableInput()">
        edit
      </button>
    </div>
    <ng-template #showEdit class="todo">
      <textarea
        id="description"
        matInput
        [(ngModel)]="todo.description"
        placeholder="todo description"
        #todoInput
        rows="1"
        (input)="onInput(todoInput.value)"
        [class.strike-through]="todo.complete"></textarea>
      <button
        mat-raised-button
        color="accent"
        (click)="editTodo(todo, todoInput.value)">
        save
      </button>
    </ng-template>
  </mat-card-content>
  <button mat-button (click)="deleteTodo(todo)">
    <mat-icon color="primary">delete</mat-icon>
  </button>
</mat-card>
