mat-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    width: 100%;

    mat-card-content {
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        mat-checkbox {
            margin-right: 10px;
        }

        textarea {
            width: 80%;
        }
    }
}

.strike-through{
    text-decoration: line-through;
}

.todo-inedit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    p{
        width: 80%;
        margin-bottom: 0;
        margin-left: 17px;
    }
}