mat-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    mat-card-content {
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        mat-checkbox {
            margin-right: 10px;
        }

        textarea {
            box-sizing: border-box;
            margin-left: 15px;
        }
    }
}

.strike-through {
    text-decoration: line-through;
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    p {
        width: 80%;
        margin: 0 0 0 15px;
    }
}

textarea.mat-input-element {

    margin: 0;
    padding: 0;
}