<mat-card>
  <form (ngSubmit)="onSubmit(); addTodo.reset()" #addTodo="ngForm">
    <mat-form-field
      [class.mat-form-field-invalid]="!todoRef.valid && todoRef.dirty">
      <textarea
        matInput
        rows="3"
        [(ngModel)]="todo"
        name="todo"
        placeholder="Write todo here..."
        #todoRef="ngModel"
        required></textarea>
    </mat-form-field>
    <button mat-raised-button color="accent" [disabled]="!todo">
      Add todo
    </button>
  </form>
</mat-card>
